{% extends "layout.html" %}

{% block title %}添加种子{% endblock %}
{% set current_page="seed" %}
{% set current_action="seed_add" %}

{% block body %}
<div class="container typecho-page-main typecho-post-option typecho-post-area">
  <form action="." method="post" name="add_seed">
    <div class="column-18 suffix" id="test">
      <div class="column-18">
        <label for="seed_name" class="typecho-label">名称</label>
        <p><input type="text" id="seed_name" name="seed_name" value="" class="text" /></p>
        <label for="base_url" class="typecho-label">链接 (<a href="#">?</a>)</label>
        <p><input type="text" id="urlformat" name="urlformat" value="" class="text" /></p>
        <p class="description"><a href="javascript:openWin('/seed/addlink/');">添加链接</a></p>
        <div id="forHTML">
          <label for="" class="typecho-label">采集区域节点</label>
          <p><input type="text" name="list[listparent]" value="" class="text" /></p>
          <label for="" class="typecho-label">采集目标节点</label>
          <p><input type="text" name="list[entryParent]" value="" class="text" /></p>
          {% for field in fields %}
          <label for="field_{{ field.name }}" class="typecho-label">{{ field.title }}</label>
          <p><input type="text" id="field_{{ field.name }}" name="{{ field.name }}" value="" class="text" /></p>
          {% endfor %}
        </div>
        <div id="forArticle">
          <label for="" class="typecho-label">页数区域节点</label>
          <p><input type="text" name="article[pageparent]" value="" class="text" /></p>
          <label for="" class="typecho-label">内容处理</label>
          <p>
            <label for=""><input type="checkbox" name="article[filterscript]" /> 过滤script</label>
            <label for=""><input type="checkbox" name="article[filterstyle]" /> 过滤style</label>
            <label for=""><input type="checkbox" name="article[filterlink]" /> 过滤a标签</label>
            <label for=""><input type="checkbox" name="article[filtertrim]" /> 去首尾空白字符</label>
            <label for=""><input type="checkbox" name="article[readability]" checked="true" /> 格式整理</label>
          </p>
          <p><textarea style="width:700px;height: 100px" autocomplete="off" name="filters"></textarea></p>
        </div>
        <p class="submit">
          <span class="right">
            <input type="hidden" name="type" value="{{ seed_type }}" />
            <input type="hidden" name="do" value="publish" />
            <button type="button" id="btn-save">保存草稿</button>
            <button type="button" id="btn-submit">发布种子 &raquo;</button>
          </span>
        </p>
      </div>
    </div>
    <div class="column-06">
      <ul class="typecho-post-option">
        <li>
          <label for="listtype" class="typecho-label">采集链接格式</label>
          <p>
            <select class="typecho-charset" name="listtype" id="listtype">
              <option value="html" selected>普通 HTML 格式</option>
              <option value="feed" disabled>标准 RSS Feed 格式</option>
            </select>
          </p>
          <p class="description">请选择采集链接格式</p>
        </li>
        <li>
          <label for="lang" class="typecho-label">页面语言</label>
          <p>
            <select class="typecho-charset" name="lang" id="lang">
              <option value="zhCN">中文简体</option>
              <option value="zhTW">中文繁体</option>
              <option value="en">英语</option>
            </select>
          </p>
          <p class="description">请选择页面的语言</p>
        </li>
        <li>
          <label for="autoCharset" class="typecho-label">页面编码 <input type="checkbox" id="autoCharset" checked="true" /> 自动识别</label>
          <p>
            <select disabled class="typecho-charset" name="charset" id="charset">
              <option value="gb2312">Chinese Simplified (GB2312)</option>
              <option value="utf-8">Universal Alphabet (UTF-8)</option>
              <option value="big5">Chinese Traditional (Big5)</option>
              <option value="shift-jis">Japanese (Shift-JIS)</option>
              <option value="x-euc">Japanese (EUC)</option>
              <option value="euc-kr">Korean (EUC)</option>
              <option value="iso-8859-1">Western Alphabet</option>
              <option value="iso-8859-3">Latin 3 Alphabet (ISO)</option>
              <option value="iso-8859-4">Baltic Alphabet (ISO)</option>
              <option value="iso-8859-5">Cyrillic Alphabet (ISO)</option>
              <option value="iso-8859-6">Arabic Alphabet (ISO)</option>
              <option value="iso-8859-7">Greek Alphabet (ISO)</option>
              <option value="iso-8859-8">Hebrew Alphabet (ISO)</option>
              <option value="koi8-r">Cyrillic Alphabet (KOI8-R)</option>
            </select>
          </p>
          <p class="description">请选择页面的编码格式</p>
        </li>
        <li>
          <label for="frequency" class="typecho-label">采集频率</label>
          <p><input class="typecho-date" size="4" maxlength="2" type="text" name="_hour" value="0">:<input class="typecho-date" size="4" maxlength="2" type="text" name="_min" value="00"></p>
          <p class="description">种子的自动采集的间隔时间(小时:分钟)</p>
        </li>
        <li>
          <label for="timeout" class="typecho-label">超时时间</label>
          <p><input type="text" id="timeout" name="timeout" value="30" class="mini" /></p>
          <p class="description">设定采集源链接的抓取超时时间(秒)</p>
        </li>
        <li>
          <label for="tries" class="typecho-label">尝试次数</label>
          <p><input type="text" id="tries" name="tries" value="5" class="mini" /></p>
          <p class="description">抓取超时之后自动尝试的次数</p>
        </li>
        <li>
          <label for="tags" class="typecho-label">标签</label>
          <p><input id="tags" name="tags" type="text" value="" class="mini" /></p>
          <p class="description">标签，种子多的时候方便更好进行筛选</p>
        </li>
      </ul>
    </div>
  </form>
</div>
{% endblock %}