{% extends "layout.html" %}

{% block title %}添加链接{% endblock %}

{% block html %}
<div class="main">
  <div class="body">
    <div class="container typecho-page-main typecho-post-option typecho-post-area typecho-addlink">
      <div class="column-24 start-01 typecho-list typecho-tabs">
        <ul class="typecho-option-tabs">
          <li class="current"><a href="#inputLink">单条网址</a></li>
          <li><a href="#createLink">批量生成</a></li>
          <li><a href="#dateLink">日期格式</a></li>
        </ul>
        <div class="typecho-option-tabArea">
          <div id="inputLinkPane" class="typecho-option-tabPane">
            <label for="seed_name" class="typecho-label">单条或多条网址（一行一条）</label>
            <textarea style="width: 100%;height: 150px" autocomplete="off" id="inputLinkText" name="text"></textarea>
          </div>
          <div id="createLinkPane" class="typecho-option-tabPane hidden">
            <label for="link_name" class="typecho-label">地址格式</label>
            <p><input type="text" id="link_name" name="link_name" value="" class="text" /> <em rel="replace" data-target="link_name">(*)</em></p>
            <label class="typecho-label">参数</label>
            <p>开始 <input type="text" name="start" value="1" size="5" /> 自增 <input type="text" name="step" value="1" size="5" /> 项数 <input type="text" name="max" value="5" size="5" /> <label><input type="checkbox" name="zero" /> 补零</label></p>
            <label class="typecho-label">预览</label>
            <textarea style="width: 100%;height: 130px" autocomplete="off" id="createLinkText" readonly></textarea>
          </div>
          <div id="dateLinkPane" class="typecho-option-tabPane hidden">
            <label for="date_link" class="typecho-label">地址格式</label>
            <p><input type="text" id="date_link" name="date_link" value="" class="text" /> <em rel="replace" data-target="date_link">(*)</em></p>
            <label class="typecho-label">时间样式</label>
            <p><input type="text" name="date_style" value="YYYY-MM-DD" size="30" /> 日期向后 <input type="text" name="step" value="0" size="5" /> 天</p>
            <p class="description">年-YYYY 月-MM 日-DD 时-HH 分-mm 秒-ss</p>
            <label class="typecho-label">预览</label>
            <textarea style="width: 100%;height: 130px" autocomplete="off" id="dateLinkText" readonly></textarea>
          </div>
          <p class="submit">
            <input type="hidden" id="urltype" name="urltype" value="" />
            <span class="right"><button type="button" id="btn-submit">添加 &raquo;</button></span>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.addEvent('domready', function() {
    $("createLinkPane").getElements("input[type='text']").addEvent("blur", previewcreateLink);
    $("createLinkPane").getElements("input[name='zero']").addEvent("click", previewcreateLink);
    $("dateLinkPane").getElements("input[type='text']").addEvent("blur", previewdateLink);
    $("btn-submit").addEvent("click", function(){
      var link = "",
      urltype = $("urltype").get("value");
      switch (urltype){
        case "inputLink":
          link = $("inputLinkText").get("value");
          break;
        case "createLink":
          link = $("link_name").get("value");
          break;
        case "dateLink":
          link = $("date_link").get("value");
          break;
        default:
          link = $("inputLinkText").get("value");
      }
      window.opener.document.getElementById("urlformat").value = link;
      window.close();
    });
  });
</script>
{% endblock %}