{% extends "layout.html" %}

{% block title %}管理站点{% endblock %}
{% block title_add %}<a href="/site/add">新增</a>{% endblock %}
{% set current_page="site" %}
{% set current_action="sites" %}

{% block body %}
<div class="container typecho-page-main">
  <div class="column-24 start-01 typecho-list">
    <div class="typecho-list-operate">
    <form method="get">
      <p class="operate">操作: 
        <span class="operate-button typecho-table-select-all">全选</span>, 
        <span class="operate-button typecho-table-select-none">不选</span>&nbsp;&nbsp;&nbsp;
        选中项: 
        <span rel="delete" lang="你确认要删除这些站点吗?" class="operate-button operate-delete typecho-table-select-submit">删除</span>
      </p>
      <p class="search">
                          <input type="text" value="请输入关键字" onclick="value='';name='keywords';">
      <button type="submit">筛选</button>
      </p>
    </form>
    </div>

    <form method="post" name="manage_sites" class="operate-form" action=".">
    <table class="typecho-list-table">
      <colgroup>
        <col width="25">
        <col width="50">
        <col width="260">
        <col width="60">
        <col width="30">
        <col width="110">
        <col width="205">
        <col width="150">
      </colgroup>
      <thead>
        <tr>
          <th class="typecho-radius-topleft"> </th>
          <th>标题</th>
          <th> </th>
          <th> </th>
          <th> </th>
          <th>种子数</th>
          <th>接口通讯</th>
          <th class="typecho-radius-topright">日期</th>
        </tr>
      </thead>
      <tbody>
        {% for site in sites %}
  	    <tr class="even">
          <td><input type="checkbox" value="{{ site.id }}" name="id[]"></td>
          <td colspan="3"><a href="/site/edit/{{ site.id }}">{{ site.name }}:{{ site.url }}</a></td>
          <td><a class="right hidden-by-mouse" href="{{ site.url }}" target="_blank"><img src="/static/images/view.gif" title="浏览站点" width="16" height="16" alt="view"></a></td>
          <td><a href="#" class="balloon-button size-10" title="查看相关种子">1</a></td>
          <td><span class="balloon st0">正常</span></td>
          <td>1小时前</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="do" value="delete">
    </form>
    {% import './ui.html' as ui %}
    {{ ui.render_pagination(pagination) }}           
  </div>
</div>
{% endblock %}