<div class="typecho-foot">
  <h4><a href="/" class="logo-dark">spinne</a></h4>
  <div class="copyright">基于 <em>flask</em> <em>flask</em> 构建</div>
  <div class="resource">
    <ul>
      <li><a href="https://github.com/wolftankk/spyder/wiki" target="_blank">文档</a></li>
      <li><a href="https://github.com/wolftankk/spyder" target="_blank">Github</a></li>
      <li><a href="https://github.com/wolftankk/spyder/issues" target="_blank">报告错误</a></li>
      <li><a href="https://github.com/wolftankk/spyder/wiki" target="_blank">其他资源</a></li>
    </ul>
  </div>
</div>