<div class="typecho-head-guid body-950">
  <dl id="typecho:guid">
    <dt class="focus"><a href="/" title="控制台">控制台</a></dt>
    <dd>
      <ul>
        <li class="focus"><a href="/" title="种子列表">网站概要</a></li>
        <li><a href="/" title="设置">设置</a></li>
      </ul>
    </dd>
    <dt><a href="/seeds/" title="种子管理">种子管理</a></dt>
    <dd>
      <ul>
        <li><a href="/seeds/" title="种子列表">种子列表</a></li>
        <li><a href="/seed/add/" title="种子添加">种子添加</a></li>
      </ul>
    </dd>
    <dt><a href="/sites/" title="站点管理">站点管理</a></dt>
    <dd>
      <ul>
        <li><a href="/sites/" title="站点列表">站点列表</a></li>
        <li><a href="/site/add/" title="添加站点">添加站点</a></li>
      </ul>
    </dd>
    <dt><a href="/users/" title="用户管理">用户管理</a></dt>
    <dd>
      <ul>
        <li><a href="/users/" title="用户列表">用户列表</a></li>
        <li><a href="/user/add/" title="添加用户">添加用户</a></li>
      </ul>
    </dd>
  </dl>
  <p class="operate">欢迎, <a href="/user/view/1" class="author important">admin</a>
          <a class="exit" href="#" title="登出">登出</a></p>
</div>