{% macro render_pagination(pagination) %}
<div class="typecho-pager">
  <div class="typecho-pager-content">
    <ul>
  {%- for page in pagination.iter_pages() %}
    {% if page %}
      {% if page != pagination.page %}
        <li><a href="{{ pagination.url_for_other_page(page) }}">{{ page }}</a></li>
      {% else %}
        <li class="current"><a href="{{ pagination.url_for_other_page(page) }}">{{ page }}</a></li>
      {% endif %}
    {% endif %}
  {%- endfor %}
    </ul>
  </div>
</div>
{% endmacro %}

{% macro render_charset(current) %}
  {% set charsets = [("auto", "自动检测"), ("gb2312", "Chinese Simplified (GB2312)"), ("utf-8", "Universal Alphabet (UTF-8)"), ("big5", "Chinese Traditional (Big5)"), ("shift-jis", "Japanese (Shift-JIS)"), ("euc-kr", "Korean (EUC)"), ("iso-8859-1", "Western Europe (ISO)")] %}
  {%- for charset in charsets %}
  <option value="{{ charset[0] }}"{% if charset[0] == current %} selected="true"{% endif %}>{{ charset[1] }}</option>
  {%- endfor %}
{% endmacro %}

{% macro render_staticType(current) %}
  {% set staticTypes = [("none", "不上传"), ("ftp", "FTP"), ("aliyun", "阿里云")] %}
  {%- for staticType in staticTypes %}
  <option value="{{ staticType[0] }}"{% if staticType[0] == current %} selected="true"{% endif %}>{{ staticType[1] }}</option>
  {%- endfor %}
{% endmacro %}