<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="robots" content="NONE,NOARCHIVE" />
    <title>{% block title %}{% endblock %} - Spinne</title>
        
    {% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/base.css?v=0.1" />
    <link rel="stylesheet" type="text/css" href="/static/css/app.css?v=0.1" />
    {% endblock %}
    {% block scripts %}
    <script type="text/javascript" src="/static/javascript/mootools.js?v=0.1"></script>
    <script type="text/javascript" src="/static/javascript/moment.min.js?v=0.1"></script>
    <script type="text/javascript" src="/static/javascript/typecho.js?v=0.1"></script>
    <script type="text/javascript" src="/static/javascript/app.js?v=0.1"></script>
    {% endblock %}

    {% block meta %}
    {% endblock %}
  </head>

  <body>
  {% block html %}
    {% block header %}
    {% set navigation = [
      [('/', 'home', '控制台'), ('/', 'home', '网站概要'), ('/settings/', 'settings', '设置'), ('/seed_logs/', 'seed_logs', '采集日志')], 
      [('/seeds/', 'seed', '种子管理'), ('/seeds/', 'seeds', '种子列表'), ('/seed/add/', 'seed_add', '种子添加')],
      [('/sites/', 'site', '入库管理'), ('/sites/', 'sites', '站点列表'), ('/site/add/', 'site_add', '添加站点')],
      [('/users/', 'user', '用户管理'), ('/users/', 'users', '用户列表'), ('/user/add/', 'user_add', '添加用户')],
    ] %}

    <div class="typecho-head-guid body-950">
      <dl id="typecho:guid">
        {% for navs in navigation %}
        <dt {% if navs[0][1] == current_page %}class="focus"{% endif %}><a href="{{ navs[0][0] }}" title="{{ navs[0][2] }}">{{ navs[0][2] }}</a></dt>
        <dd>
          <ul>
            {% for nav in navs[1:] %}
            <li {% if nav[1] == current_action %}class="focus"{% endif %}><a href="{{ nav[0] }}" title="{{ nav[2] }}">{{ nav[2] }}</a></li>
            {% endfor %}
          </ul>
        </dd>
        {% endfor %}
      </dl>
      <p class="operate">欢迎, <a href="/user/view/{{ session['uid'] }}" class="author important">{{ session['username'] }}</a>
              <a class="exit" href="/user/logout" title="登出">登出</a></p>
    </div>
    {% endblock %}
    {% block main %}
    <div class="main">
      <div class="body body-950">
        {% if error or succ %}
        <div class="container message{% if error %} error{% endif %}{% if succ %} success{% endif %} popup typecho-radius-topleft typecho-radius-topright typecho-radius-bottomleft typecho-radius-bottomright">
          <ul>
            {% if error %}<li>{{ error }}</li>{% endif %}
            {% if succ %}<li>{{ succ }}</li>{% endif %}
          </ul>
        </div>
        {% endif %}
        <div class="container typecho-page-title">
          <div class="column-24">
            <h2>{{ self.title() }}{% block title_add %}{% endblock %}</h2>
            <p><a href="#">查看站点</a></p>
          </div>
        </div>
        {% block body %}{% endblock %}
      </div>
    </div>
    {% block footer %}
      {% include "footer.html" %}
    {% endblock %}
    
    {% endblock %}
  {% endblock %}
  </body>
</html>
