{% extends "layout.html" %}

{% block title %}添加站点{% endblock %}
{% set current_page="site" %}
{% set current_action="site_add" %}

{% block body %}
<div class="container typecho-page-main typecho-post-option typecho-post-area">
  <form action="." method="post" name="add_site">
    <div class="column-18 suffix" id="test">
      <div class="column-18">
        <label for="seed_name" class="typecho-label">名称</label>
        <p><input type="text" id="name" name="name" value="{{ site.name }}" class="text" /></p>
        <label for="base_url" class="typecho-label">网站地址</label>
        <p><input type="text" id="url" name="url" value="{{ site.url }}" class="text" /></p>
        <label for="staticUrl" class="typecho-label">图片服务器地址</label>
        <p><input type="text" id="staticUrl" name="staticUrl" value="{{ site.sync_profile.staticUrl|default('',true) }}" class="text" /></p>
        <p class="description">图片服务器的地址，末尾不需要加 '/'</p>
        <label for="staticType" class="typecho-label">图片上传接口类型</label>
        <p>
          <select id="staticType" name="staticType">
            {% import './ui.html' as ui %}
            {{ ui.render_staticType(site.sync_profile.staticType) }}
          </select>
        </p>
        <div id="ftp_form" class="column-08">
          <table class="typecho-list-table">
            <colgroup>
              <col width="80">
              <col width="230">
            </colgroup>
            <thead>
              <tr>
                <th colspan="2" class="typecho-radius-topleft typecho-radius-topright">设定FTP服务器的基本配置</th>
              </tr>
            </thead>
            <tbody>
              <tr class="even">
                <td>服务器：</td><td><input type="text" name="ftp_server" value="{{ site.sync_profile.ftp_server|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td>端&nbsp;&nbsp;&nbsp;口：</td><td><input type="text" name="ftp_port" value="{{ site.sync_profile.ftp_port|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td>用户名：</td><td><input type="text" name="ftp_username" value="{{ site.sync_profile.ftp_username|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td>密&nbsp;&nbsp;&nbsp;码：</td><td><input type="password" name="ftp_password" value="{{ site.sync_profile.ftp_password|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td>目&nbsp;&nbsp;&nbsp;录：</td><td><input type="text" name="ftp_path" value="{{ site.sync_profile.ftp_path|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td colspan="2"><input type="button" id="test_ftp" value="测试连接"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div id="aliyun_form" class="column-08" style="float: right;">
          <table class="typecho-list-table">
            <colgroup>
              <col width="80">
              <col width="230">
            </colgroup>
            <thead>
              <tr>
                <th colspan="2" class="typecho-radius-topleft typecho-radius-topright">设定阿里云的基本配置</th>
              </tr>
            </thead>
            <tbody>
              <tr class="even">
                <td>用户：</td><td><input type="text" name="access_id" value="{{ site.sync_profile.access_id|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td>私钥：</td><td><input type="text" name="secret_access_key" value="{{ site.sync_profile.secret_access_key|default('',true) }}" size="20" /></td>
              </tr>
              <tr class="even">
                <td colspan="2"><input type="button" id="test_aliyun" value="测试连接"></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div style="clear:both;"></div>
        <label for="" class="typecho-label">备注</label>
        <p><textarea style="width:700px;height: 200px" autocomplete="off" name="descript">{{ site.descript }}</textarea></p>
        {% if site.id %}
          {% if maps %}
          <ul class="typecho-post-option"><li>
            <label for="seed_name" class="typecho-label">已配置入库规则</label>
            <ul>
            {% for type in maps %}
              <li><a href="javascript:;" rel="{{type}}" class="edit_map" title="点击修改">{{type|getSeedTypeText}} 入库数据表 {{maps[type]["table_name"]}}</a></li>
            {% endfor %}
            </ul>
          </li></ul>
          {% endif %}
          <p>
          <select class="typecho-charset" name="type" id="type">
            {% for type1 in types %}
            {% if type1 not in maps %}
            <option value="{{ type1 }}">{{ type1|getSeedTypeText }}</option>
            {% endif %}
            {% endfor %}
          </select> 
          <a href="javascript:;" id="add_map">配置入库规则</a></p>
          {% endif %}
        <p class="submit">
          <span class="right">
            <input type="hidden" name="do" value="publish" />
            <button type="submit" id="btn-submit">保存站点 &raquo;</button>
          </span>
        </p>
      </div>
    </div>
    <div class="column-06">
      <ul class="typecho-post-option">
        <li>
          <label for="sync_type" class="typecho-label">入库方式</label>
          <p>
            <select class="typecho-charset" name="sync_type" id="sync_type">
              <option value="mysql"{% if site.sync_type=="mysql" %} selected="true"{% endif %}>MySQL数据库</option>
              <option value="api"{% if site.sync_type=="api" %} selected="true"{% endif %}>API接口</option>
            </select>
          </p>
          <p class="description">请选择采集数据入库的方式</p>
        </li>
        <li id="mysql_form" class="sync_type_data sync_type_mysql{% if site.sync_type=="api" %} hidden{% endif %}">
          <label for="" class="typecho-label">MySQL配置</label>
          <p>服务器：<input type="text" id="mysql_server" name="mysql_server" value="{{ site.sync_profile.mysql_server|default('',true) }}" size="20" /></p>
          <p>数据库：<input type="text" id="mysql_dbname" name="mysql_dbname" value="{{ site.sync_profile.mysql_dbname|default('',true) }}" size="20" /></p>
          <p>表前缀：<input type="text" id="mysql_prefix" name="mysql_prefix" value="{{ site.sync_profile.mysql_prefix|default('',true) }}" size="20" /></p>
          <p>用户名：<input type="text" id="mysql_username" name="mysql_username" value="{{ site.sync_profile.mysql_username|default('',true) }}" size="20" /></p>
          <p>密&nbsp;&nbsp;&nbsp;码：<input type="text" id="mysql_password" name="mysql_password" value="{{ site.sync_profile.mysql_password|default('',true) }}" size="20" /></p>
          <p class="description">设定MySQL数据库的基本配置 <input type="button" id="test_mysql" value="测试连接"></p>
        </li>
        <li class="sync_type_data sync_type_api{% if site.sync_type=="mysql" %} hidden{% endif %}">
          <label for="api_url" class="typecho-label">API接口地址</label>
          <p><input type="text" id="api_url" name="api_url" value="{{ site.sync_profile.api_url|default('',true) }}" class="mini" /></p>
          <p class="description">采用API方式入库请设定接口地址</p>
        </li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
(function(){
  function testMysql(){
    new Request({
      "url": "{{ url_for('site.test_mysql') }}",
      "data": $('mysql_form').toQueryString(),
      "onRequest": function(){
        $("test_mysql").set("value","正在连接中...").set("disabled", true);
      },
      "onComplete": function(){
        $("test_mysql").set("value","测试连接").erase("disabled");
      },
      "onSuccess": function(t,x){
        if(t=="1"){
          alert("数据库连接成功！")
        }else{
          alert("数据库连接失败！")
        }
      }
    }).send();
  }
  function testFtp(){
    new Request({
      "url": "{{ url_for('site.test_ftp') }}",
      "data": $('ftp_form').toQueryString(),
      "onRequest": function(){
        $("test_ftp").set("value","正在连接中...").set("disabled", true);
      },
      "onComplete": function(){
        $("test_ftp").set("value","测试连接").erase("disabled");
      },
      "onSuccess": function(t,x){
        alert(t)
      }
    }).send();
  }
  function testAliyun(){
    new Request({
      "url": "{{ url_for('site.test_aliyun') }}",
      "data": $('aliyun_form').toQueryString(),
      "onRequest": function(){
        $("test_aliyun").set("value","正在连接中...").set("disabled", true);
      },
      "onComplete": function(){
        $("test_aliyun").set("value","测试连接").erase("disabled");
      },
      "onSuccess": function(t,x){
        alert(t)
      }
    }).send();
  }
  function addMap(){
    var type = $("type").get("value");
    openWin('/site_map/add/?type='+type+"&site_id={{ site.id }}");
  }
  function editMap(){
    var type = $(this).get("rel");
    openWin('/site_map/edit/?type='+type+"&site_id={{ site.id }}");
  }
  function changeSyncType(){
    var v = $(this).get("value");
    $$(".sync_type_data").addClass("hidden");
    $$(".sync_type_"+v).removeClass("hidden");
  }
  window.addEvent('domready', function() {
    $("add_map").addEvent("click", addMap);
    $$(".edit_map").addEvent("click", editMap);
    $("test_mysql").addEvent("click", testMysql);
    $("test_ftp").addEvent("click", testFtp);
    $("test_aliyun").addEvent("click", testAliyun);
    $("sync_type").addEvent("change", changeSyncType);
  })
})();
</script>
{% endblock %}