<!DOCTYPE HTML>
<html lang="ru-RU">
<head>
  <meta charset="UTF-8">
  <title>种子测试</title>
  <style type="text/css">
  div { margin: 0 0 10px; }
  li { margin: 5px 0;}
  .value { max-height: 200px; overflow-y: auto; }
  </style>
</head>
<body>
  {% if items %}
    <h2>共采集到链接 {{ num }} 条：</h2>
    <ul>
    {% for item in items %}
    {% if seed_type in dont_craw_content %}
      <li>
      {% for data in items[item] %}
      {{ items[item][data] }}   
      {% endfor %}
      </li>
    {% else %}
    <li><a href="/test_seed/view/{{ seed_id }}/{{ item }}">{{ items[item]["url"] }}</a> <a href="{{ items[item]["url"] }}" target="_blank">查看原文</a></li>
    {% endif %}
    {% endfor %}
    </ul>
  {% endif %}
</body>
</html>