{% extends "layout.html" %}

{% block title %}添加种子{% endblock %}
{% set current_page="seed" %}
{% set current_action="seed_add" %}

{% block body %}
<div class="container typecho-page-main typecho-post-option typecho-post-area">
  <form action="." method="post" name="add_seed">
    <div class="column-18 suffix" id="test">
      <div class="column-18">
        <label for="seed_name" class="typecho-label">名称</label>
        <p><input type="text" id="seed_name" name="seed_name" value="{{ seed_data.seed_name|default('',true) }}" class="text" /></p>
        <label for="base_url" class="typecho-label">链接 (<a href="#">?</a>)</label>
        <p><textarea style="width:700px;height: {{ size }}px" autocomplete="off" id="urlformat" name="urlformat">{{ seed_data.rule.urlformat|default('',true) }}</textarea></p>
        <p class="description"><a href="javascript:openWin('/seed/addlink/');">添加链接</a></p>
        <label for="base_url" class="typecho-label">GUID 规则 (<a href="#">?</a>)</label>
        <p>
          可用标签：
          {% for field in fields %}
          <a href="javascript:;" rel="field_tags">{{ field.title }}</a>, 
          {% endfor %}
        </p>
        <p><input type="text" id="guid_rule" name="guid_rule" value="{{ seed_data.guid_rule|default('',true) }}" class="text" /></p>
        <div id="forHTML">
          <label for="" class="typecho-label">列表页父节点</label>
          <p><input type="text" name="listparent" value="{{ seed_data.rule.listparent|default('',true) }}" class="text" /></p>
          <label for="" class="typecho-label">列表页目标节点</label>
          <p><input type="text" name="entryparent" value="{{ seed_data.rule.entryparent|default('',true) }}" class="text" /></p>
          <label for="" class="typecho-label">内容页连接节点</label>
          <p><input type="text" name="contenturl" value="{{ seed_data.rule.contenturl|default('',true) }}" class="text" /></p>
          <label for="" class="typecho-label">内容页父节点</label>
          <p><input type="text" name="contentparent" value="{{ seed_data.rule.contentparent|default('',true) }}" class="text" /></p>
          {% for field in fields %}
          <label for="field_{{ field.name }}" class="typecho-label">{{ field.title }}</label>
          <p>
            <input type="text" id="field_{{ field.name }}" name="{{ field.name }}" value="{{ field.value|default('',true) }}" style="width: 450px;" />
            {% if page_types %}
            &nbsp;&nbsp;页面：
            <select class="typecho-charset" name="page_type_{{ field.name }}">
              {% for page_type in page_types %}
              <option value="{{ page_type }}"{% if page_type == field.page_type %} selected="true"{% endif %}>{{ page_type|getPageTypeText }}</option>
              {% endfor %}
            </select>
            {% endif %}
            <label><input type="checkbox" name="fetch_all_{{ field.name }}" value="1"{% if field.fetch_all == 1 %} checked="true"{% endif %}> 匹配所有</label>
            <a href="javascript:;" class="filter_button" data-fid="{{ field.id }}">高级&gt;&gt;</a>
          </p>
          {% endfor %}
        </div>
        <div id="forArticle">
          <label for="" class="typecho-label">页数区域节点</label>
          <p><input type="text" name="pageparent" value="{{ seed_data.rule.pageparent|default('',true) }}" class="text" /></p>
          <label for="" class="typecho-label">内容处理</label>
          <p><textarea style="width:700px;height: 100px" autocomplete="off" name="filters">{{ seed_data.rule.filters|default('',true) }}</textarea></p>
        </div>
        <p class="submit">
          <span class="right">
            <input type="hidden" id="alltags" value="{{ alltags|join(",") }}" />
            <input type="hidden" id="urltype" name="urltype" value="{{ seed_data.rule.urltype|default('inputLink',true) }}" />
            <input type="hidden" name="type" value="{{ seed_type|default('',true) }}" />
            <input type="hidden" name="sid" value="{{ sid|default('',true) }}" />
            <input type="hidden" id="startpage" name="startpage" value="{{ seed_data.rule.startpage|default('',true) }}" />
            <input type="hidden" id="maxpage" name="maxpage" value="{{ seed_data.rule.maxpage|default('',true) }}" />
            <input type="hidden" id="step" name="step" value="{{ seed_data.rule.step|default('',true) }}" />
            <input type="hidden" id="zero" name="zero" value="{{ seed_data.rule.zero|default(0,true) }}" />
            <input type="hidden" name="do" value="publish" />
            <button type="submit" id="btn-submit">保存种子 &raquo;</button>
          </span>
        </p>
      </div>
    </div>
    <div class="column-06">
      <ul class="typecho-post-option">
        <li>
          <label for="listtype" class="typecho-label">是否启用</label>
          <p>
            <input type="checkbox" name="enabled" value="1" {% if seed_data.enabled == 1 %}checked="true"{% endif %} />
          </p>
          <p class="description">是否启用该种子</p>
        </li>
        <li>
          <label for="listtype" class="typecho-label">采集链接格式</label>
          <p>
            <select class="typecho-charset" name="listtype" id="listtype">
              {% set listtypes = {"html":"普通 HTML 格式", "feed":"标准 RSS Feed 格式", "json":"JSON 格式"} %}
              {% for listtype in listtypes %}
              <option value="{{ listtype }}"{% if listtype == seed_data.listtype %} selected="true"{% endif %}>{{ listtypes[listtype] }}</option>
              {% endfor %}
            </select>
          </p>
          <p class="description">请选择采集链接格式</p>
        </li>
        <li>
          <label for="lang" class="typecho-label">页面语言</label>
          <p>
            <select class="typecho-charset" name="lang" id="lang">
              {% set langs = [("zhCN", "中文简体"), ("zhTW", "中文繁体"), ("en", "英语")] %}
              {% for lang in langs %}
              <option value="{{ lang[0] }}"{% if lang[0] == seed_data.lang %} selected="true"{% endif %}>{{ lang[1] }}</option>
              {% endfor %}
            </select>
          </p>
          <p class="description">请选择页面的语言</p>
        </li>
        <li>
          <label for="autoCharset" class="typecho-label">页面编码</label>
          <p>
            <select class="typecho-charset" name="charset" id="charset">
              {% import './ui.html' as ui %}
              {{ ui.render_charset(seed_data.charset) }}
            </select>
          </p>
          <p class="description">请选择页面的编码格式</p>
        </li>
        <li>
          <label for="frequency" class="typecho-label">采集频率</label>
          <p><input class="mini" type="text" name="frequency" value="{{ seed_data.frequency|default(1,true) }}"></p>
          <p class="description">种子的自动采集的间隔时间(小时)</p>
        </li>
        <li>
          <label for="timeout" class="typecho-label">超时时间</label>
          <p><input type="text" id="timeout" name="timeout" value="{{ seed_data.timeout|default(30,true) }}" class="mini" /></p>
          <p class="description">设定采集源链接的抓取超时时间(秒)</p>
        </li>
        <li>
          <label for="tries" class="typecho-label">尝试次数</label>
          <p><input type="text" id="tries" name="tries" value="{{ seed_data.tries|default(5,true) }}" class="mini" /></p>
          <p class="description">抓取超时之后自动尝试的次数</p>
        </li>
        <li>
          <label for="tags" class="typecho-label">标签</label>
          <p><input id="tags" name="tags" type="text" value="{{ tags|join(',') }}" class="mini" /></p>
          <p class="description">比如 游戏资讯,游戏攻略 等，用英文逗号隔开</p>
        </li>
      </ul>
    </div>
  </form>
</div>
<script type="text/javascript">
(function () {
    var textEditor = new Typecho.textarea('#urlformat', {
        resizeAble: true,
        autoSave: false,
        resizeUrl: '{{ url_for("seed.autosave") }}'
    });
    var insertTagToEditor = function (title) {
        var ta = $(document).getElement('#guid_rule');
        ta.focus();
        ta.set("value", ta.get("value")+title+",");
    };
    function filter_config(fid){
      openWin('/seed/set_filter/'+fid+"/");
    }
    window.addEvent('domready', function() {

        $$("[rel=field_tags]").addEvent("click", function(){
          if($(this).get("text")) insertTagToEditor($(this).get("text"));
        });
        $$(".filter_button").addEvent("click", function(){
          filter_config($(this).get("data-fid"));
        });
        /** 标签自动完成 */
        var _tags = [];
        if($("alltags")){
          _tags = $("alltags").get("value").split(",");
        }

        /** 自动完成 */
        Typecho.autoComplete('#tags', _tags);
    });
})();
</script>
{% endblock %}