
      <ul id="filter-list-{{ field_id }}" class="typecho-list-notable draggable">
        {% for key in filters %}
        {% set filter = filters[key] %}
        <li class="even checked">
          <em class="td1">
            <input type="checkbox" name="filter{{ field_id }}[]" checked="true" value="{{ filter.filter_id }}">
          </em>
          <em class="td2">{{ filter.title }}</em>
          <em class="td3">
            {% for config in filter["profile"]|sort %}
            <input type="hidden" name="profile_{{ field_id }}_{{ filter.filter_id }}[]" value="{{ config }}">
            {{ config }}：<input type="text" name="{{ config }}_{{ field_id }}_{{ filter.filter_id }}" value="{{ filter["profile"][config] }}">
            {% endfor %}
            <span class="description">{{ filter.description }}</span>
          </em>
        </li>
        {% endfor %}
      </ul>
      <p>
          <select id="filters-select-{{ field_id }}">
            {% for filter in all_filters %}
            <option value="{{ filter.id }}">{{ filter.title }}</option>
            {% endfor %}
          </select>
          <a href="javascript:;" class="add_filter">添加操作</a> <span class="description">通过拖拽可以改变次序</span>
      </p>

<script type="text/javascript">
  var all_filters = {{ all_filters|tojson|safe }};
</script>
