{% extends "layout.html" %}

{% block title %}高级{% endblock %}

{% block html %}
<div class="main">
  <div class="body">
    <div class="container typecho-page-main typecho-post-option typecho-post-area typecho-addlink">
      <ul class="typecho-list-notable draggable">
        <li><input type="checkbox" name="" value=""> 56456456456</li>
        <li><input type="checkbox" name="" value=""> 111111</li>
        <li><input type="checkbox" name="" value=""> 2222</li>
        <li><input type="checkbox" name="" value=""> 33333333</li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript">
  window.addEvent('domready', function() {

  });
</script>
{% endblock %}