{% extends "layout.html" %}

{% block title %}管理种子{% endblock %}
{% block title_add %}<a href="/seed/add">新增</a>{% endblock %}
{% set current_page="seed" %}
{% set current_action="seeds" %}

{% block body %}
<div class="container typecho-page-main">
  <div class="column-24 start-01 typecho-list">
    <ul class="typecho-option-tabs">
      <li {% if not seed_type %}class="current"{% endif %}><a href="{{ url_for('seeds.index') }}">全部</a></li>
      {% for field in fields %}
      <li {% if field == seed_type %}class="current"{% endif %}><a href="{{ url_for('seeds.index', type=field) }}">{{ field|getSeedTypeText }}</a></li>
      {% endfor %}
    </ul>
    <div class="typecho-list-operate">
    <form method="get">
      <p class="operate">操作: 
        <span class="operate-button typecho-table-select-all">全选</span>, 
        <span class="operate-button typecho-table-select-none">不选</span>&nbsp;&nbsp;&nbsp;
        选中项: 
        <span rel="delete" lang="你确认要删除这些种子吗?" class="operate-button operate-delete typecho-table-select-submit">删除</span>,
        <span rel="enable" lang="你确认要启用这些种子吗?" class="operate-button typecho-table-select-submit">启用</span>,
        <span rel="disable" lang="你确认要禁用这些种子吗?" class="operate-button operate-delete typecho-table-select-submit">禁用</span>
      </p>
      <p class="search">
        <input type="text" value="请输入关键字" onclick="value='';name='keywords';">
        <button type="submit">筛选</button>
      </p>
    </form>
    </div>

    <form method="post" name="manage_seeds" class="operate-form" action=".">
    <table class="typecho-list-table">
      <colgroup>
        <col width="25">
        <col width="50">
        <col width="30">
        <col width="180">
        <col width="30">
        <col width="110">
        <col width="205">
        <col width="200">
        <col width="50">
      </colgroup>
      <thead>
        <tr>
          <th class="typecho-radius-topleft"> </th>
          <th>状态</th>
          <th></th>
          <th>标题</th>
          <th> </th>
          <th>采集量</th>
          <th>标签</th>
          <th>采集状态</th>
          <th class="typecho-radius-topright"> </th>
        </tr>
      </thead>
      <tbody>
        {% for seed in seeds %}
  	    <tr class="even " id="post-1">
          <td><input type="checkbox" value="{{ seed.sid }}" name="sid[]"></td>
          <td colspan="2">
            {% if seed.enabled %}
            <span class="balloon st0">启用</span>
            {% else %}
            <span class="balloon st3">禁用</span>
            {% endif %}
          </td>
          <td><a href="/seed/edit/{{ seed.sid }}">{{ seed.seed_name }}</a></td>
          <td><a class="right hidden-by-mouse" href="/test_seed/list/{{ seed.sid }}" target="_blank"><img src="/static/images/view.gif" title="测试采集" width="16" height="16" alt="view"></a></td>
          <td><a href="#" class="balloon-button size-10" title="查看最近采集的数据">0</a></td>
          <td>
            {% for tag in seed["tags"] %}
            <a href="#{{ tag['id'] }}">{{ tag["name"] }}</a>
            {% endfor %}
          </td>
          <td>上次采集：{{ seed.start_time|timesince }}<br />下次采集：{{ (seed.finish_time+seed.frequency)|datetimeformat("%Y-%m-%d %H:%M") }}</td>
          <td><a href="/seed/copynew/{{ seed.sid }}">复制</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="hidden" name="do" value="delete">
    </form>
    {% import './ui.html' as ui %}
    {{ ui.render_pagination(pagination) }}
  </div>
</div>
{% endblock %}
